@import url("https://fonts.googleapis.com/css2?family=Meow+Script&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
$font-title: "Meow Script", cursive;
$font-text: "Raleway", sans-serif;
$font-color: white;
$secondary-color: black;
$background-color: #190000;
