@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@400;600&family=Open+Sans:wght@300;400;600&display=swap");

/* Variables */
$font-title: "Abril Fatface", serif;
$font-text: "Raleway", sans-serif;
$font-color: white;
$secondary-color: black;
$background-color: #190000;
