.home-section {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden; /* Pour cacher le débordement de l'image */
}

.home-header-image {
  width: 100%;
  height: 100%;
  position: absolute; /* Positionner l'image en arrière-plan */
  top: 0;
  left: 0;
  z-index: 1; /* Positionner l'image derrière le texte */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre la section */
  }
}

.home-header-title {
  position: relative; /* Pour que le texte soit devant l'image */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  z-index: 10; /* Positionner le texte au-dessus de l'image */
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.home-section-2 {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
  margin-bottom: 5rem;

  img {
    height: 25%;
    object-fit: cover;
  }
}

.home-horaires {
  text-transform: uppercase;
}

.home-section-3 {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  color: white;
}

.home-text {
  padding: 2rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-full-screen {
  height: 20rem;
}
