.nav-container {
  background-color: transparent;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 1003;
  transition: top 0.3s ease-in-out;
  padding: 0.3rem 0 0.3rem;

  .nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;

    .nav-part-2 {
      height: 8vh;
      width: 85vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      z-index: 1003;

      img {
        height: 8vh;
      }
    }
  }

  .rotating-info {
    padding: 0.2rem;
    text-transform: uppercase;
    font-size: 0.7rem;
  }
  // Gestion de la visibilité de la navbar
  &.colored {
    background-color: variables.$background-color;
    top: 0rem;
    border-bottom: white solid 0.1rem;
    height: 11vh;
  }

  &.transparent {
    top: 0rem;
  }
}
