.nav-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1003;
  transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  height: auto; // Automatiser la hauteur pour s'adapter au contenu
  box-sizing: border-box;

  .nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px; // Ajuster pour le contenu de la navbar
    z-index: 1003;
    width: 100%;
    box-sizing: border-box;

    .nav-part-2 {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      img {
        height: 100%; // S'assurer que les images prennent toute la hauteur disponible
      }
    }
  }

  .rotating-info {
    height: 20px; // Gérer la hauteur du bloc tournant
    padding: 1rem 0 0.2rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    z-index: 1004; // Un z-index plus élevé pour garantir qu'il soit au-dessus
  }

  // Gestion de la visibilité de la navbar
  &.colored {
    background-color: variables.$background-color;
    border-bottom: white solid 0.1rem;
    height: auto;
  }

  &.transparent {
    background-color: transparent;
  }
}
